body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-image: url("../../assets/images/lotrbackground.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-color: black;
}

 .wrapper {
    width: 1000px;
    height: 500px;
    position: fixed;
    top: 30%;
    left: 22%;
    background: rgba(84,84,72,0.75);
    margin-top: -100px;
    margin-left: -100px;
   
 }

.header {
    margin-left: 22%;
    margin-top: 5%;
 }

 button {
    background-color:  rgba(84,84,72);
    border: none;
    color: white;
    width: 400px;
    margin: 5px;
    padding: 10px 0;
    text-align: center;
    text-decoration: none;
    font-size: 24px;
    cursor: pointer;
}

 button:hover {
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

button:active {
	opacity: 0.5;
}

#answerArea {
    margin-left: 37px;
}

#timerArea {
    width: 25%;
    text-align: center;
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}


#startButton {
    margin-left: 18%;
    margin-top: 10%;
}

h2 {
    text-align: justify;
    text-align: center;
    text-shadow: 2px 2px black;
    color: white;
}
